<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn8N0gZUOBfBzH71wSblq1EiUPn7XeRyA</string>
	<key>GCM_SENDER_ID</key>
	<string>737325233804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runnersHigh</string>
	<key>PROJECT_ID</key>
	<string>runnershigh-8d162</string>
	<key>STORAGE_BUCKET</key>
	<string>runnershigh-8d162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737325233804:ios:bb1baacadf2ff6c6c46da9</string>
</dict>
</plist>